__pycache__
*.json
*.csv
*/**.db
*.DS_Store
.venv
.vscode
mypytho3.7venv
*.log

# to find volumes stored in the VM
# docker run -it --privileged --pid=host debian nsenter -t 1 -m -u -n -i sh
# cd /var/lib/docker/volumes/